.content{
}
.header{
    height: 100px;
    background-color: #00A2E8;

    font-size: 30px;
    color: white;

}
 .order_content{
    background-color: #EEEEEE;
 }
 .checked{
     background-color: #28A745;
     color: white;
 }
 .remove_agent,.find_agent,.total{
     margin:0 1%;
 }